/* Floating Monopad Button */
#dangan_monopad_button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;

    background: #000;
    border: 2px solid #fff;
    border-radius: 50%;

    cursor: grab;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

/* Crest Image */
#dangan_monopad_button img {
    width: 70%;
    height: 70%;

    object-fit: contain;

    display: block;
    margin: auto;

    pointer-events: none;
    user-select: none;
}

/* Monopad Panel */
#dangan_monopad_panel {
    position: fixed;
    width: 260px;

    background: #0e0e0e;
    border: 2px solid #fff;

    z-index: 9998;
}

#dangan_monopad_panel.hidden {
    display: none;
}

.monopad-header {
    backgr
